<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/main_layout :: head}">
    <title>ProyectoHogar - Nuestros Clientes</title>
</head>

<body>

    <div th:replace="~{layouts/main_layout :: navigation}"></div>

    <main id="nuestros_clientes">
        <div class="parallax">
            <div class="parallax-cuerpo">
                <div id="titulo">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-white">
                                <h1>Nuestros Clientes</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-12 text-uppercase shadow-lg bg-white rounded p-5 text-center">
                    <ul>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Ahold</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Ahold</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Ahold</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Ahold</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Ahold</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Ahold</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Ahold</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Ahold</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Ahold</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Ahold</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Ahold</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div th:replace="~{layouts/main_layout :: footer}"></div>
    </footer>
</body>

</html>